#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  background-color: #6b46c1;
  color: white;
  padding: 0.75rem;
  border-radius: 9999px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

#back-to-top:hover {
  background-color: #553c9a;
}
