body {
    margin: 0;
    padding: 0;
    background-image: url(../image/bg.png);
    font-family: "Poppins", sans-serif;
    text-align: justify;

  }
  
  h1 {
    margin: 0;
    font-weight: 400;
  }
  
  h2 {
    margin: 0;
    font-weight: 400;
    display: inline-block;
  }
  
  .box {
    background: #fff;
    width: 50rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
  }
  
  .header{
    text-align: center;
  }

  .header-left img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #2c3e50;
    box-shadow: 5px 5px 5px #95a5a6;
  }

  .header-left .name{
    position: relative;
  }

  .header-left .name span{
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    top: 10px ;
    left: 325px;
    border-radius: 50%;
    color: #ecf0f1;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: .4s;
    transform: rotate(0deg) scale(0);
  }

  .header-left .name a:hover span{
    opacity: 10;
    transform: rotate(360deg) scale(1);
  }

  .header-left .name .nama-depan{
    font-size: 40px;
    font-weight: bold;
    color: #2c3e50;
  }

  .header-left .name .jurusan{
    font-size: 20px;
    color: #2c3e50;
  }

  .header-right {
    width: 100%;
    display: grid;
    line-height: 2px;
    margin: 20px 0;
  }
  
  .header-right p {
    display: inline-block;
  }
  .grey {
    background: #2c3e50;
    color: #fff;
    padding: 0.7rem;
    border-radius: 0.3rem;
  }
  
  .icon {
    color: rgb(223, 223, 223);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  table {
    border: 2px solid #000;
    margin: 1rem 0 1rem 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  td,
  th {
    border: 1px solid #000;
    padding: 0.4rem;
  }
  